{% extends "DTLVoyagerBundle::default_layout.html.twig" %}
{% block content %}
    <h1>{{ tour.name }}</h1>
    {% include "DTLVoyagerBundle:Tour:overview.html.twig" with {"voyages": tour.timedVoyages} %}
{% endblock %}
