<!doctype html>
<html>
    <head>
        <title>Default Voyager Layout</title>
    </head>
    <body>
        <h1>Default Voyager Layout</h1>
        <p>
            This is the default Voyager layout. You probably want to
            override this template to integrate the voyager bundle system into 
            your website.
        </p>
        {% block content %}
        {% endblock %}
    </body>
</html>

